body{
    background-color:aliceblue;
    background-image: url("..//public//pic4.jpg");
    background-size:cover;
   background-attachment: fixed;
  
 
}

.footer{ position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
   
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   
}
